* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.photo {
margin-bottom: 20px;
}

.photo img {
    max-width: 600px;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumb {
max-width: 198px;
flex-basis: 140px;
/* margin-right: 20px; */
margin-bottom: 20px;
}

.thumb img {
    width: 100%;
    cursor: pointer;
    opacity: .7;
}

.thumb img:hover {
    opacity: 1;
}
